body{margin:0}
*{
  font-family: Inter,sans-serif;
  box-sizing: border-box;
}
.header--main{
  display:flex;
  align-items: center;
  height: 65px;
  color:white;
  padding:20px;
  background:linear-gradient(90deg,#A626D3,10%,#462a5d 100%);
  
}
.pew{
  width:60px;
  margin-right: 10px;
}
.header--title{
  font-size:20px;
  margin-right: auto;
}
#rct{
  font-family:Lugrasimo;
  color:whitesmoke;
  
}
.header--text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#645570;
}
main{
  padding:25px;
}
.form{
  display: grid;
  grid-template:40px 40px /1fr 1fr;
  gap:15px;
}
.form--input{
  border-radius: 5px;;
  border:1px solid #A626D3;
  text-indent:5px;
}
.form--button{
  grid-column: 1/-1;
  border-radius: 5px;
  background:linear-gradient(90deg,#A626D3,10%,#402754 100%);
  color:white;
  border:none;
  cursor:pointer;
  font-weight: 600;
}
.meme--img{
  max-width: 100%;
  border-radius: 3px;
}