body{margin:0}
*{
  font-family: Inter,sans-serif;
  box-sizing: border-box;
}
.header--main{
  display:flex;
  align-items: center;
  height: 65px;
  color:white;
  padding:20px;
  background:linear-gradient(90deg,#A626D3,10%,#331b47 100%);
  
}
.pew{
  width:80px;
  margin-right: 10px;
}
.header--title{
  font-size:20px;
  margin-right: auto;
}
#rct{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:whitesmoke;
  
}
.header--text{
  font-family:Lugrasimo;
  color:#645570;
}